{
  "log": {
    "_recordingName": "fetch-assets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13f407143817c1078c52730416aef925",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chunk_size\":100}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"d8ba52b9-829d-415d-bbf3-97efd375a187\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "50a878b8290c71fc3be3426a8fc1fcb9"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-ea128-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 328,
      },
      {
        "_id": "ce726d626a543a0b5aabcd8fad953800",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/d8ba52b9-829d-415d-bbf3-97efd375a187/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 44,
            "text": "{\"status\":\"FINISHED\",\"chunks_available\":[1]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "0ddf28ce4f16d1e5e4e92200ae8b18b0"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-7i4qu-us-east-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 327,
      },
      {
        "_id": "19aa1013dded10f4f1d2b1dad85e739d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/d8ba52b9-829d-415d-bbf3-97efd375a187/chunks/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 15706,
            "text": "[{\"id\":\"e6782de6-e520-4fa8-8ca9-49286d7fca2a\",\"has_agent\":true,\"has_plugin_results\":true,\"created_at\":\"2022-05-27T21:15:48.359Z\",\"terminated_at\":null,\"terminated_by\":null,\"updated_at\":\"2022-06-03T16:05:52.583Z\",\"deleted_at\":null,\"deleted_by\":null,\"first_seen\":\"2022-05-27T21:15:48.039Z\",\"last_seen\":\"2022-06-03T16:05:52.216Z\",\"first_scan_time\":\"2022-05-27T21:15:48.039Z\",\"last_scan_time\":\"2022-06-03T16:05:52.216Z\",\"last_authenticated_scan_date\":\"2022-05-28T15:11:31.175Z\",\"last_licensed_scan_date\":\"2022-05-28T15:11:31.175Z\",\"last_scan_id\":\"604e71f6-d732-4d8a-bd0d-7b8ea6c88196\",\"last_schedule_id\":\"template-2bc542e6-399c-cf90-faaa-f7cae58ea20b82c6f3e7bf1d63db\",\"azure_vm_id\":null,\"azure_resource_id\":null,\"gcp_project_id\":null,\"gcp_zone\":null,\"gcp_instance_id\":null,\"aws_ec2_instance_ami_id\":null,\"aws_ec2_instance_id\":null,\"agent_uuid\":\"9928ced55f8a4121b63c15b50cd461e6\",\"bios_uuid\":null,\"network_id\":\"00000000-0000-0000-0000-000000000000\",\"network_name\":\"Default\",\"aws_owner_id\":null,\"aws_availability_zone\":null,\"aws_region\":null,\"aws_vpc_id\":null,\"aws_ec2_instance_group_name\":null,\"aws_ec2_instance_state_name\":null,\"aws_ec2_instance_type\":null,\"aws_subnet_id\":null,\"aws_ec2_product_code\":null,\"aws_ec2_name\":null,\"mcafee_epo_guid\":null,\"mcafee_epo_agent_guid\":null,\"servicenow_sysid\":null,\"bigfix_asset_id\":null,\"agent_names\":[\"maxosxj1\"],\"installed_software\":[\"cpe:/a:apache:http_server:2.4.48\",\"cpe:/a:apache:http_server:2.4.51\",\"cpe:/a:apache:log4j:1.2.17\",\"cpe:/a:apache:log4j:1.2.9\",\"cpe:/a:apple:keynote:11.1\",\"cpe:/a:apple:pages:11.1\",\"cpe:/a:apple:safari:15.0\",\"cpe:/a:gnupg:libgcrypt:1.9.3\",\"cpe:/a:google:chrome:102.0.5005.61\",\"cpe:/a:kubernetes:kubernetes:1.22.4\",\"cpe:/a:microsoft:visual_studio_code:0.0.6\",\"cpe:/a:microsoft:visual_studio_code:0.6.0\",\"cpe:/a:microsoft:visual_studio_code:1.0.0\",\"cpe:/a:microsoft:visual_s[...]
