{
  "log": {
    "_recordingName": "iterateVulnerabilities-success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "83540e56058b64ea587da7b3e5d74671",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_assets\":50,\"filters\":{\"since\":1627491750,\"state\":[\"open\",\"reopened\",\"fixed\"]}}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export"
        },
        "response": {
          "content": {
            "mimeType": "Application/json",
            "size": 54,
            "text": "{\"export_uuid\":\"92273d97-158c-421c-acca-c99c7c3c5ac7\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "Application/json"
            },
            {
              "name": "x-request-uuid",
              "value": "4ed40f1505d5ca19a9b6b5d39df6d0ea"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-d9d39-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      },
      {
        "_id": "27cac465ce104d21b78f0c8c1d762316",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export/92273d97-158c-421c-acca-c99c7c3c5ac7/status"
        },
        "response": {
          "content": {
            "mimeType": "Application/json",
            "size": 434,
            "text": "{\"uuid\":\"92273d97-158c-421c-acca-c99c7c3c5ac7\",\"status\":\"FINISHED\",\"chunks_available\":[],\"chunks_failed\":[],\"chunks_cancelled\":[],\"total_chunks\":0,\"chunks_available_count\":0,\"empty_chunks_count\":0,\"finished_chunks\":0,\"filters\":{\"state\":[\"OPEN\",\"REOPENED\",\"FIXED\"],\"tags\":{},\"since\":1627491750,\"first_found\":0,\"last_found\":0,\"last_fixed\":0,\"first_seen\":0,\"last_seen\":0,\"indexed_at\":0},\"num_assets_per_chunk\":50,\"created\":1630515750734}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "Application/json"
            },
            {
              "name": "x-request-uuid",
              "value": "a3225fdebcdde524e9c6747ba0929e5a"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-d9d39-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1179,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
