{
  "log": {
    "_recordingName": "fetch-scanner-ids",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bdd5ca685585b7431f1640d81196aaf4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/scanners"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 17208,
            "text": "{\"scanners\":[{\"creation_date\":1602094370,\"group\":true,\"id\":181821,\"key\":\"26ced42cb0cb05411106c93bbbaed0579a6f1839f4abff80874685ea882a2a27\",\"last_connect\":null,\"last_modification_date\":1620857057,\"license\":{\"record_id\":\"0013a00001kqsh4AAA\",\"type\":\"vm\",\"activation_code\":\"2SSJ-BXQS-RCHF\",\"agents\":-1,\"ips\":100,\"scanners\":-1,\"users\":-1,\"enterprise_pause\":false,\"expiration_date\":1703375999,\"evaluation\":false,\"apps\":{\"pci\":{\"mode\":\"basic\"},\"consec\":{\"mode\":\"eval\",\"expiration_date\":1626962564},\"vm\":{\"assets\":100,\"vm_expiration_date\":1703375999,\"vm_activation_code\":\"2SSJ-BXQS-RCHF\",\"agents\":0}},\"scanners_used\":0,\"agents_used\":3},\"linked\":1,\"name\":\"US Cloud Scanner\",\"network_name\":\"Default\",\"num_scans\":0,\"owner\":\"system\",\"owner_id\":2109704,\"owner_name\":\"system\",\"owner_uuid\":\"5d2c809c-c060-4677-b7b8-9e2e08b72f38\",\"pool\":true,\"scan_count\":0,\"shared\":1,\"source\":\"service\",\"status\":\"on\",\"timestamp\":1620857057,\"type\":\"local\",\"user_permissions\":64,\"uuid\":\"00000000-0000-0000-0000-00000000000000000000000000001\",\"supports_remote_logs\":false,\"supports_webapp\":true,\"supports_remote_settings\":false},{\"creation_date\":1622819222,\"group\":true,\"id\":194954,\"key\":\"d09b7efa069358032a7a59b89f8f543221689705c38c36cbfb4ea11ef5d65392\",\"last_connect\":null,\"last_modification_date\":1622819222,\"license\":{\"record_id\":\"0013a00001kqsh4AAA\",\"type\":\"vm\",\"activation_code\":\"2SSJ-BXQS-RCHF\",\"agents\":-1,\"ips\":100,\"scanners\":-1,\"users\":-1,\"enterprise_pause\":false,\"expiration_date\":1703375999,\"evaluation\":false,\"apps\":{\"pci\":{\"mode\":\"basic\"},\"consec\":{\"mode\[...]
