{
  "log": {
    "_recordingName": "createVulnerabilityExportCache-timeout",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "83540e56058b64ea587da7b3e5d74671",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_assets\":50,\"filters\":{\"since\":1574812800,\"state\":[\"open\",\"reopened\",\"fixed\"]}}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"9681740f-4379-47ba-bc2f-7069708d1f8c\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "61b0ea4d64d69ea61b466fbee4667db6"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-6buwg-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      },
      {
        "_id": "e5264a990bec1d14b4bafba19db2c245",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export/9681740f-4379-47ba-bc2f-7069708d1f8c/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 436,
            "text": "{\"uuid\":\"9681740f-4379-47ba-bc2f-7069708d1f8c\",\"status\":\"PROCESSING\",\"chunks_available\":[],\"chunks_failed\":[],\"chunks_cancelled\":[],\"total_chunks\":0,\"chunks_available_count\":0,\"empty_chunks_count\":0,\"finished_chunks\":0,\"filters\":{\"state\":[\"OPEN\",\"REOPENED\",\"FIXED\"],\"tags\":{},\"since\":1574812800,\"first_found\":0,\"last_found\":0,\"last_fixed\":0,\"first_seen\":0,\"last_seen\":0,\"indexed_at\":0},\"num_assets_per_chunk\":50,\"created\":1623959535365}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": [...]
