{
  "log": {
    "_recordingName": "fetch-container-repositories",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c9ad83635d1106a3c86de2e8d8bbecf6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://cloud.tenable.com/container-security/api/v2/repositories?offset=0&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 214,
            "text": "{\"items\":[{\"name\":\"library\",\"imagesCount\":2,\"labelsCount\":2,\"vulnerabilitiesCount\":174,\"malwareCount\":0,\"pullCount\":0,\"pushCount\":5,\"totalBytes\":352035549}],\"pagination\":{\"offset\":0,\"limit\":10,\"total\":1,\"sort\":[]}}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "6c1eff59e3c9a71c298a2e0701be1d5f"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-g9gc2-eu-west-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 522,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
