{
  "log": {
    "_recordingName": "fetch-container-repositories",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0ff6958d5fd1a6b90c0f7b590aa71118",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ],
          "url": "https://cloud.tenable.com/container-security/api/v2/repositories?offset=0&limit=1000"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"items\":[{\"name\":\"library\",\"imagesCount\":2,\"labelsCount\":2,\"vulnerabilitiesCount\":175,\"malwareCount\":0,\"pullCount\":0,\"pushCount\":5,\"totalBytes\":352035549}],\"pagination\":{\"offset\":0,\"limit\":1000,\"total\":1,\"sort\":[]}}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "fc81de2c71f6e0c835d15d3e8e7595c7"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-4vu63-eu-west-2-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 560,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
