{
  "log": {
    "_recordingName": "fetch-vulnerabilities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "83540e56058b64ea587da7b3e5d74671",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_assets\":50,\"filters\":{\"since\":1627506690,\"state\":[\"open\",\"reopened\",\"fixed\"]}}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export"
        },
        "response": {
          "content": {
            "mimeType": "Application/json",
            "size": 54,
            "text": "{\"export_uuid\":\"97d4c8cf-e4f2-4782-bb65-f6b8e32ac670\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "Application/json"
            },
            {
              "name": "x-request-uuid",
              "value": "eb6d874ad7bcb7ef5b0894ca56b995ac"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-rub5f-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 305,
      },
      {
        "_id": "c247f2f9a3e4326437a2eb603f3b694b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export/97d4c8cf-e4f2-4782-bb65-f6b8e32ac670/status"
        },
        "response": {
          "content": {
            "mimeType": "Application/json",
            "size": 434,
            "text": "{\"uuid\":\"97d4c8cf-e4f2-4782-bb65-f6b8e32ac670\",\"status\":\"FINISHED\",\"chunks_available\":[],\"chunks_failed\":[],\"chunks_cancelled\":[],\"total_chunks\":0,\"chunks_available_count\":0,\"empty_chunks_count\":0,\"finished_chunks\":0,\"filters\":{\"state\":[\"OPEN\",\"REOPENED\",\"FIXED\"],\"tags\":{},\"since\":1627506690,\"first_found\":0,\"last_found\":0,\"last_fixed\":0,\"first_seen\":0,\"last_seen\":0,\"indexed_at\":0},\"num_assets_per_chunk\":50,\"created\":1630530690435}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "Application/json"
            },
            {
              "name": "x-request-uuid",
              "value": "d501af46ad37b75e4f3b24d557840e7e"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-kigig-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 452,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
