{
  "log": {
    "_recordingName": "fetch-vulnerabilities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83540e56058b64ea587da7b3e5d74671",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_assets\":50,\"filters\":{\"since\":1651251508,\"state\":[\"open\",\"reopened\",\"fixed\"]}}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"f36739a5-d033-4ab5-b623-c97913251ac4\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "6ec1707f7af8cb69d33e6a07f2fb3231"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-fyn71-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1133,
      },
      {
        "_id": "f1b8af38fbd277604f6fd3204894fb1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/vulns/export/f36739a5-d033-4ab5-b623-c97913251ac4/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 435,
            "text": "{\"uuid\":\"f36739a5-d033-4ab5-b623-c97913251ac4\",\"status\":\"FINISHED\",\"chunks_available\":[1],\"chunks_failed\":[],\"chunks_cancelled\":[],\"total_chunks\":1,\"chunks_available_count\":1,\"empty_chunks_count\":0,\"finished_chunks\":1,\"filters\":{\"state\":[\"OPEN\",\"REOPENED\",\"FIXED\"],\"tags\":{},\"since\":1651251508,\"first_found\":0,\"last_found\":0,\"last_fixed\":0,\"first_seen\":0,\"last_seen\":0,\"indexed_at\":0},\"num_assets_per_chunk\":50,\"created\":1654275509177}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": [...]
