{
  "log": {
    "_recordingName": "iterateAssets-success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "13f407143817c1078c52730416aef925",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chunk_size\":100}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"b058c201-dafb-463a-9d86-dc958da4206c\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "a0e369cb64cac2eb3e4764f79084a0fe"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-ipyyv-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      },
      {
        "_id": "d56449e986a5e6e984228bb367114d1f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/b058c201-dafb-463a-9d86-dc958da4206c/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 44,
            "text": "{\"status\":\"FINISHED\",\"chunks_available\":[1]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "79def254e770332b69a28e4f5ad48ed8"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-o7r49-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1144,
      },
      {
        "_id": "5a49af272f88ac8ef341ced6354a3fea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/b058c201-dafb-463a-9d86-dc958da4206c/chunks/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 9291,
            "text": "[{\"id\":\"f85956cd-d141-45d8-a199-cf2686658ae7\",\"has_agent\":false,\"has_plugin_results\":null,\"created_at\":\"2021-07-19T20:45:18.244Z\",\"terminated_at\":null,\"terminated_by\":null,\"updated_at\":\"2022-03-11T05:04:24.401Z\",\"deleted_at\":null,\"deleted_by\":null,\"first_seen\":\"2021-07-19T20:45:17.382Z\",\"last_seen\":\"2022-03-11T05:04:24.170Z\",\"first_scan_time\":\"2021-07-19T20:45:17.382Z\",\"last_scan_time\":\"2021-07-19T20:45:17.382Z\",\"last_authenticated_scan_date\":null,\"last_licensed_scan_date\":null,\"last_scan_id\":\"27a4e348-ef2f-42fb-a2f1-82eae77ed63c\",\"last_schedule_id\":\"template-c2f5378d-7bbf-5801-920d-17ae82c3ff7a03b936b688b3d15e\",\"azure_vm_id\":\"b1691058-b730-4428-a82a-9c3219c5d9db\",\"azure_resource_id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourcegroups/j1dev/providers/microsoft.compute/virtualmachines/tenable\",\"gcp_project_id\":null,\"gcp_zone\":null,\"gcp_instance_id\":null,\"aws_ec2_instance_ami_id\":null,\"aws_ec2_instance_id\":null,\"agent_uuid\":null,\"bios_uuid\":null,\"network_id\":\"00000000-0000-0000-0000-000000000000\",\"network_name\":\"Default\",\"aws_owner_id\":null,\"aws_availability_zone\":null,\"aws_region\":null,\"aws_vpc_id\":null,\"aws_ec2_instance_group_name\":null,\"aws_ec2_instance_state_name\":null,\"aws_ec2_instance_type\":null,\"aws_subnet_id\":null,\"aws_ec2_product_code\":null,\"aws_ec2_name\":null,\"mcafee_epo_guid\":null,\"mcafee_epo_agent_guid\":null,\"servicenow_sysid\":null,\"bigfix_asset_id\":null,\"agent_names\":[],\"installed_software\":[],\"ipv4s\":[\"13.82.93.219\",\"10.0.2.16\"],\"ipv6s\":[],\"fqdns\":[],\"mac_addresses\":[\"00:0d:3a:52:d3:a6\"],\"netbios_names\":[],\"operating_systems\":[\"Linux\"],\"system_types\":[\"azure-instance\"],\"hostnames\":[\"tenable\"],\"ssh_fingerprints\":[],\"qualys_asset_ids\":[],\"qualys_host_ids\":[],\"manufacturer_tpm_ids\":[],\"symantec_ep_hardware_keys\":[],\"sources\":[{\"name\":\"NESSUS_SCAN\",\"first_seen\":\"2021-07-19T20:45:17.382Z\",\"last_seen\":\"2021-07-19T20:45:17.382Z\"},{\"name\":\"AZURE\",\"first_seen\":\"2021-07-19T21:51:33.936Z\",\"last_seen\":\"2022-03-11T05:04:24.170Z\"}],\"tags\":[],\"network_interfaces\":[{\"name\":\"tenable601\",\"virtual\":null,\"aliased\":null,\"fqdns\":[],\"mac_addresses\":[\"00:0d:3a:52:d3:a6\"],\"ipv4s\":[\"13.82.93.219\",\"10.0.2.16\"],\"ipv6s\":[]},{\"name\":\"UNKNOWN\",\"virtual\":null,\"aliased\":null,\"fqdns\":[],\"mac_addresses\":[\"00:0d:3a:52:d3:a6\"],\"ipv4s\":[\"13.82.93.219\",\"10.0.2.16\"],\"ipv6s\":[]}]},{\"id\":\"c767b9ce-b1db-4ca7-9cdc-e9190544dc4f\",\"has_agent\":false,\"has_plugin_results\":null,\"created_at\":\"2021-07-20T13:49:15.483Z\",\"terminated_at\":null,\"terminated_by\":null,\"updated_at\":\"2022-03-1[...]
