{
  "log": {
    "_recordingName": "createAssetExportCache-timeout",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "13f407143817c1078c52730416aef925",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chunk_size\":100}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"f018d67f-36e9-4861-a259-efa6b337f0d9\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "b4fd72ba88c4d4f1c016a3eafe87d7df"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-bbfe0-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "3ab366ebf1200f83063c857501cbf0fe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/f018d67f-36e9-4861-a259-efa6b337f0d9/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 45,
            "text": "{\"status\":\"PROCESSING\",\"chunks_available\":[]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "dc3c821ea03[...]
