{
  "log": {
    "_recordingName": "fetch-assets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "13f407143817c1078c52730416aef925",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chunk_size\":100}"
          },
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 54,
            "text": "{\"export_uuid\":\"6f393e1e-28d9-4934-b06d-9b419ee9a735\"}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "032fede0b57768898e16579597b135bd"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-dx5df-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 475,
      },
      {
        "_id": "9317c6cd04a953d1125b4b287b1c8359",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/6f393e1e-28d9-4934-b06d-9b419ee9a735/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 44,
            "text": "{\"status\":\"FINISHED\",\"chunks_available\":[1]}"
          },
            {
              "httpOnly": true,
              "name": "nginx-cloud-site-id",
              "path": "/",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-request-uuid",
              "value": "3e76882d665ad5a373201116754f1b41"
            },
            {
              "name": "x-gateway-site-id",
              "value": "nginx-router-dx5df-us-east-1-prod"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1248,
      },
      {
        "_id": "fa1956dba9184805ac63c58a86e7d0c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-apikeys",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloud.tenable.com/assets/export/6f393e1e-28d9-4934-b06d-9b419ee9a735/chunks/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 8908,
            "text": "[{\"id\":\"c767b9ce-b1db-4ca7-9cdc-e9190544dc4f\",\"has_agent\":false,\"has_plugin_results\":null,\"created_at\":\"2021-07-20T13:49:15.483Z\",\"terminated_at\":null,\"terminated_by\":null,\"updated_at\":\"2021-08-03T14:37:46.613Z\",\"deleted_at\":null,\"deleted_by\":null,\"first_seen\":\"2021-07-20T13:49:15.236Z\",\"last_seen\":\"2021-08-03T14:37:46.426Z\",\"first_scan_time\":null,\"last_scan_time\":null,\"last_authenticated_scan_date\":null,\"last_licensed_scan_date\":null,\"last_scan_id\":null,\"last_schedule_id\":null,\"azure_vm_id\":\"d2785f91-770d-48b8-a537-cdd20ee92c49\",\"azure_resource_id\":\"/subscriptions/d3803fd6-2ba4-4286-80aa-f3d613ad59a7/resourcegroups/j1dev/providers/microsoft.compute/virtualmachines/tenable-nessus\",\"gcp_project_id\":null,\"gcp_zone\":null,\"gcp_instance_id\":null,\"aws_ec2_instance_ami_id\":null,\"aws_ec2_instance_id\":null,\"agent_uuid\":null,\"bios_uuid\":null,\"network_id\":\"00000000-0000-0000-0000-000000000000\",\"network_name\":\"Default\",\"aws_owner_id\":null,\"aws_availability_zone\":null,\"aws_region\":null,\"aws_vpc_id\":null,\"aws_ec2_instance_group_name\":null,\"aws_ec2_instance_state_name\":null,\"aws_ec2_instance_type\":null,\"aws_subnet_id\":null,\"aws_ec2_product_code\":null,\"aws_ec2_name\":null,\"mcafee_epo_guid\":null,\"mcafee_epo_agent_guid\":null,\"servicenow_sysid\":null,\"bigfix_asset_id\":null,\"agent_names\":[],\"installed_software\":[],\"ipv4s\":[\"10.0.2.17\",\"52.188.207.128\"],\"ipv6s\":[],\"fqdns\":[],\"mac_addresses\":[],\"netbios_names\":[],\"operating_systems\":[\"Linux\"],\"system_types\":[\"azure-instance\"],\"hostnames\":[\"tenable-nessus\"],\"ssh_fingerprints\":[],\"qualys_asset_ids\":[],\"qualys_host_ids\":[],\"manufacturer_tpm_ids\":[],\"symantec_ep_hardware_keys\":[],\"sources\":[{\"name\":\"AZURE\",\"first_seen\":\"2021-07-20T13:49:15.236Z\",\"last_seen\":\"2021-08-03T14:37:46.426Z\"}],\"tags\":[],\"network_interfaces\":[{\"name\":\"UNKNOWN\",\"virtual\":null,\"aliased\":null,\"fqdns\":[],\"mac_addresses\":[],\"ipv4s\":[\"10.0.2.17\",\"52.188.207.128\"],\"ipv6s\":[]}]},{\"id\":\"f85956cd-d141-45d8-a199-cf2686658ae7\",\"has_agent\":false,\"has_plugin_results\":null,\"created_at\":\"2021-07-19T20:45:18.244Z\",\"terminated_at\":null,\"terminated_by\":null,\"updated_at\":\"2021-08-03T14:37:46.616Z\",\"deleted_at\":null,\"deleted_by\":null,\"first_seen\":\"2021-07-19T20:45:17.382Z\",\"last_seen\":\"2021-08-03T14:37:46.425Z\",\"first_scan_time\":\"2021-07-19T20:45:17.[...]
